packages: 
  yum: 
    newrelic-sysmond: [] 
  rpm: 
    newrelic: http://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm 
commands: 
  "01": 
    command: nrsysmond-config --set license_key=246b850e09244beb065a7c5fd1e695ca3df3b87c 
  "02":
    command: sed -i '/^hostname/d' /etc/newrelic/nrsysmond.cfg
  "03": 
    command: echo hostname=$(python /opt/get_env_name.py) >> /etc/newrelic/nrsysmond.cfg 
  "04": 
    command: /etc/init.d/newrelic-sysmond restart
